# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path("Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
applicant_data_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [6]:
# # Create a list of categorical variables 
# categorical_variables = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
#        'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

# # Display the categorical variables list
# categorical_variables

In [7]:
# Create a list of categorical variables 

categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

 

# Display the categorical variables list

categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
 from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [9]:
# Create a OneHotEncoder instance
#enc = OneHotEncoder(sparse=False, drop='first')
enc = OneHotEncoder(sparse=False)

In [10]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

C:\Users\mfasi\.conda\envs\dev\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [13]:
# Create a DataFrame with the encoded variables
# Apparently, the language had an update. So I had to switch "get_feature_names" to "get_feature_names_out".
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [30]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
concat_df = pd.concat([applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]], encoded_df], axis=1)

# Review the Dataframe
concat_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [31]:
# Define the target set y using the IS_SUCCESSFUL column
y = applicant_data_df["IS_SUCCESSFUL"]

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [32]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = concat_df.drop("IS_SUCCESSFUL", axis=1)

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [33]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [36]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)


# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [37]:
# Define the the number of inputs (features) to the model
number_input_features = X_train_scaled.shape[1]

# Review the number of features
number_input_features

116

In [38]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [39]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + number_output_neurons) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [43]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (number_input_features + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

58

In [44]:
# Create the Sequential model instance
nn = Sequential()

In [45]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [47]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu"))

In [48]:
# Add the output layer
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [49]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 58)                3422

 dense_2 (Dense)             (None, 1)                 59

=================================================================
Total params: 10267 (40.11 KB)
Trainable params: 10267 (40.11 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [52]:
# Compile the Sequential model
nn.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [54]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 7s 2ms/step - loss: 0.5749 - accuracy: 0.7186
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7295
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7306
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7321
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7327
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7326
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7354
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7350
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7350
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7360
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7356
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7364
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7355
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7363
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7374
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7368
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7369
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7368
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7380
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7382
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7385
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7366
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7392
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7385
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7387
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7381
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7378
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7397
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7401
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7393
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7401
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7376
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7406
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7405
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7411
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7408
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7402
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7392
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7398
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7404
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7409
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7404
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7413
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7419
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7415
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7391
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7410
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7412

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [55]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5540 - accuracy: 0.7336 - 567ms/epoch - 2ms/step
Loss: 0.5539900660514832, Accuracy: 0.7336443066596985

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [56]:
# Set the model's file path
file_path = 'venture_funding_nn.h5'

# Export your model to a HDF5 file
nn.save(file_path)

C:\Users\mfasi\.conda\envs\dev\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [57]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [58]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1
output_activation_A1 = 'sigmoid'

In [59]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [60]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [61]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation='relu'))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation='sigmoid'))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 1)                 59

=================================================================
Total params: 6845 (26.74 KB)
Trainable params: 6845 (26.74 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [62]:
# Compile the Sequential model
nn_A1.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [64]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5890 - accuracy: 0.7163
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5590 - accuracy: 0.7291
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5536 - accuracy: 0.7304
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7297
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7324
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7318
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7317
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7323
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7329
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7338
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7336
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7335
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7338
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7334
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7340
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7346
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7350
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7338
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7342
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7338
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7346
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7345
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7350
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7345
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7341
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7341
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7359
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7352
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7336
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7350
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7349
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7351
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7364
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7348
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7353
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7353
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7354
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7362
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7355
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7362
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7363
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7363
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7371
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7378
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7367
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7360
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7365
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7360
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7376
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7371

#### Alternative Model 2

In [65]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [66]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1.2
output_activation_A2 = 'sigmoid'

In [67]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + number_output_neurons_A2) // 3

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

39.0

In [68]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [69]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation='relu'))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation='sigmoid'))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 39)                4563

 dense_6 (Dense)             (None, 1)                 40

=================================================================
Total params: 4603 (17.98 KB)
Trainable params: 4603 (17.98 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [70]:
# Compile the model
nn_A2.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [71]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5895 - accuracy: 0.7111
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5601 - accuracy: 0.7279
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5539 - accuracy: 0.7284
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7300
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7309
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7326
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7315
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7326
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7324
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7322
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7331
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7327
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7325
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7324
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7328
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7343
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7336
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7345
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7341
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7339
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7342
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7350
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7348
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7349
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7345
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7351
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7346
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7343
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7347
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7349
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7363
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7352
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7345
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7341
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7350
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7366
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7366
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7367
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7355
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7359
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7360
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7358
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7362
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7367
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7352
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7373
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7359
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7380
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7375
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7363

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [73]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5540 - accuracy: 0.7336 - 296ms/epoch - 1ms/step
Loss: 0.5539900660514832, Accuracy: 0.7336443066596985

In [74]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5603 - accuracy: 0.7320 - 294ms/epoch - 1ms/step
Loss: 0.5602712035179138, Accuracy: 0.7320116758346558

In [75]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5654 - accuracy: 0.7285 - 347ms/epoch - 1ms/step
Loss: 0.5653947591781616, Accuracy: 0.7285131216049194

### Step 3: Save each of your alternative models as an HDF5 file.

In [76]:
# Set the file path for the first alternative model
file_path = 'venture_funding_nn_A1.h5'

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [77]:
# Set the file path for the second alternative model
file_path = 'venture_funding_nn_A2.h5'

# Export your model to a HDF5 file
nn_A2.save(file_path)